/******************************************************************

Stylesheet: 960px以上のモニタで適用

******************************************************************/
.c-container {
  padding: 0 10vw;
}

.tit {
  & .ja {
    font-size: 24px;
  }

  & .en {
    font-size: 18px;
  }
}

.c-title {
  .en {
    font-size: 42px;
  }

  .ja {
    font-size: 18px;
    padding-bottom: 20px;
  }
}

.view-more {
  text-align: center;

  & span {
    font-size: 1.4rem;
  }
}

//.header
.p-header {
  & .logo__img {
    margin-left: 50px;
  }

  & .logo {
    height: 70px;
    width: 160px;
  }

  & .mobile-button {
    top: 25px;
    right: 40px;
  }
}

//.firstview
.p-firstview {
  & .swiper-container {
    height: 100vh;
  }
}

//.p-news
.p-news {
  &__link {
    padding: 4vw;
    font-size: 1.2rem;
  }

  & .view-more {
    &__link {
      & span {
        font-size: 1.4rem;
      }
    }
  }
}


//.p-footer 
.p-footer {
  &__logo {

    & img {
      width: 60%;
    }
  }

  &__nav {
    li {
      .c-txt-sm {
        font-size: 18px;
      }
    }
  }
}

//* * * * * * recruite-page * * * * * * *
.c-recruit {
  padding: 0 0 10vw 0;

  &__title {
    & p {
      font-size: 1rem;
    }
  }

  &__list {
    margin-top: 5vw;
  }

  &__item {
    font-size: 1rem;
  }

  &__subtitle {
    font-size: 1.2rem;
  }

  &__btn {
    display: none;
  }
}

//* * * * * * news-sl-page * * * * * * *
.c-news-sl {

  & .c-container {
    padding: 10vw 12vw;
  }

  &__tit {
    & p {
      font-size: 1.5rem;
    }

    & span {
      font-size: 1.4rem;
    }
  }

  &__contents {
    padding: 5vw 0;

    & p {
      font-size: 1.2rem;
    }
  }

  &__link {
    font-size: 1.4rem;
  }
}

// * * * * * * * * * お知らせ一覧 * * * * * * 
.news-wrapper {
  .c-title {
    margin-bottom: 50px;
  }
}

// * * * * * * * * * よくあるご質問 * * * * * * 
.faq-wrapper {
  .faq-contents {
    .c-container {
      padding: 0 20vw;
    }

    .faq {
      &__title {
        margin-bottom: 5vw;
      }

      &__block {

        & dt,
        & dd {
          & .c-txt-md {
            font-size: 24px;
          }
        }
      }

      & dt {
        padding: 0 0 2vw 0;

        &::before {
          font-size: 38px;
        }

        span {
          &::after {
            height: 24px;
            width: 26px;
          }
        }
      }

      & dd {
        &::before {
          font-size: 38px;

        }
      }

      & .c-title {
        font-size: 26px;
      }

      & .c-txtarea01 {

        & .c-txt-sm {
          font-size: 20px;
        }
      }

      & .c-txt-sm {
        font-size: 24px;
      }
    }
  }
}